
ubuntu/
*.txt
lab-1/OSL_1_2nd_Aprroach.pdf
lab-1/Antrag_Bachelorprojekt_IE_Application_for_a_Compulsory_Project_CJ1.pdf
lab-1/07_Mousaviasl_Machuca_BUL-1.pdf
lab-1/post-processing.ipynb
lab-2/conCurrentRW.c
lab-2/multiple.c
